.vscode
.idea
mobile/.vscode
admin-backend/.vscode
api-backend/.vscode
client-frontend/.vscode
pom.xml
/api-backend/src/main/resources
/api-backend/pom.xml
api-backend/src/main/resources/application.yml
